img{
    max-width: 100%;
    border-radius: 10px;
}

body{
    background-color: bisque;
}
.main{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin: 5% 25% 5% 25%
}

h1{
    font-family: Young Serif;
    font-weight: 300;
}

section{
    margin-bottom: 50px;
}

h2{
    font-family: Young Serif;
    font-weight: 200;
    color: hsl(14, 45%, 36%);
}

p, li, table{
    font-family: Outfit;
    font-size: 16px;
    line-height: 1.75;
    color: hsl(24, 5%, 18%);
}

.table td{
    padding: 12px, 15px;
    margin: 20px;
}

.preparation{
    font-size: 20px;
    color: purple;
    margin-left: 20px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

td{
    padding: 5px 5px 5px 30px;
}

tr:not(:last-child) {
    text-align: left;
    border-bottom: 0.5px solid rgba(133, 70, 50, 0.5);
}

table td:nth-child(2) {
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

.border{
    padding-bottom: 50px;;
    border-bottom: 0.5px solid rgba(133, 70, 50, 0.5);
}

ul{
    margin-left: 10px;
}

.prep-section{
    background-color: rgba(128, 0, 128, 0.05);
    border-radius: 15px;
    padding: 5px 5px 5px 0px;
}


@media screen and (max-width: 600px){
    .main{
        margin: 0px;
    }

    .body{
        background-color: white;
    }
}